<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>Index.ejs</title>
</head>
<body class="center">
    <br>
    <h1>Hello <%= peopleName %>!</h1>
    <form action="/" method="POST">

        <label for="name">Type your name:</label>
        <input name="name" placeholder="Type your name"><br>
        <input type="submit" value="Submit">

        <% if (typeof error != 'undefined') { %>
            <p class="error"><%= error %></p>
        <% } %>
    </form>
</body>
</html>